/* html body
*******************************************************************************/
body
{
   background-color:#e9ddd0;
   font-family:sans-serif;
}


/* Header
**************************************/
#header
{
	background-color:#ededee;
}

.header
{
	background-color:#e9ddd0;
}


#menu-firstlevel
{
	background: url("../images/menu/nav.png") transparent top left no-repeat;
	height: 43px;

}

.logo
{
	width: 143px;
}

.search
{

}


.infocontact
{
}

/* Carrousel
**************************************/
#carrousel
{
	background-color:#ededee;
}

.carrousel
{
	background-color:#d13069;
	height: 300px;
}


/* Main
**************************************/
#main
{
	background-color:#e9ddd0;
}

.main
{
	background-color:#ffbc2d;
	height: 300px;
}

/* Footer
**************************************/
#footer
{
	background-color:#0e3750;
}

.footer
{
	background-color:#97f06b;
	height: 300px;
}


/* Commun
**************************************/
.container
{
	width:950px;
	margin:0 auto;
}

div.block
{
	margin-bottom:0;
}

div.container
{
	margin:0 auto;
}

.hide
{
	position:absolute;
	left:-9999px;
}

ul li, ul.menu li,
.item-list ul li,
li.leaf
{
	list-style-image:none;
}



/* menu
*******************************************************************************/
#block-menu-primary-links
{
   zoom:1;
}

#block-menu-primary-links ul
{
   padding:0;
   margin:0;
}

#block-menu-primary-links li
{
   line-height:3;
   float:left;
   list-style-type:none;
   position:relative;
}
#block-menu-primary-links
{
   border-right:1px solid #56a5db;
}
#block-menu-primary-links li a
{
   margin: 2px 5px 0 5px;
   padding: 0 22px 0 22px;
   background-repeat:no-repeat;
   display:block;
   color:#FFF;
   font-weight:bold;
   text-transform:uppercase;
   text-decoration:none;
   background-position:0 50%;
}

#block-menu-primary-links li.first a
{
	margin-left: 80px;
}


#block-menu-primary-links li.last a
{

}

#block-menu-primary-links li a:hover,
#block-menu-primary-links li a:focus
{
   -moz-border-radius: 4px 4px 0 0;
   text-decoration:underline;
   background-color: #e4e4e4;
   color:#9f3f29;
}
#block-menu-primary-links li.active-trail a
{
   border-color:#aed253;
   background-position:-318px 50%;
   text-decoration:none;
}
#block-menu-primary-links li.active-trail.last a
{
   border-right:1px solid #56A5DB;	
}
#block-menu-primary-links li.active-trail li a:focus,
#block-menu-primary-links li.active-trail li a:hover
{
   text-decoration:underline;
}
#block-menu-primary-links li ul
{
   position:absolute;
   width:150px;
   left:0;
   top:3.75em;
   background-color:#5F5F5F;
   color:#FFF;
   opacity:0.9;
   padding:0.9375em 0;
   display:none;
   z-index:50;
}
.op #block-menu-primary-links li ul {
   top:3.6em;
}
#block-menu-primary-links li:hover ul,
#block-menu-primary-links li.hover ul
{
   display:block;
}
#block-menu-primary-links li li
{
   zoom:1;
   float:none;
   line-height:1.875;
}
#block-menu-primary-links li li a
{
   border:none;
   padding:0 10px 0 20px!important;
   font-weight:normal;
   text-transform:none;
}

