/* html body
*******************************************************************************/
body
{
   font-family:sans-serif;
   background: url("../images/bg/bg.png") transparent top center no-repeat;
   background-color: #ededee;
}

body.user-out
{
	background: #ededee;
}


/* Header
**************************************/
#header
{

	margin-bottom: 10px;
}

.header
{

}

.logo
{
	width: 143px;
	margin-top: 5px;
}

.search
{}


#block-search-0
{
	background: url("../images/bg/transparent-bg.png") transparent;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-left:28px;
	margin-top:10px;
	padding:8px;
	width:313px;
}

#search-block-form input
{
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	height: 31px;
	width: 220px;
	padding: 0 10px 0 10px;
	margin: 0;
	border: none;
	vertical-align:middle;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	color: #d6d6d6;
	
}

#search-block-form input:focus
{
	background-color: #f1ecea;
	border: none;
	color: #000000;
}

#search-block-form .form-submit
{
	background: url("../images/bg/search_submit.png") transparent no-repeat;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	border: none;
	height: 31px;
	width: 80px;
	margin-left:-11px;
	padding-bottom: 2px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #FFFFFF;
	cursor: pointer;
}

#search-block-form .form-submit:hover
{
	background: url("../images/bg/search_submit.png") transparent no-repeat;
	background-position: 0 -31px;
}

#edit-search-block-form-1-wrapper
{
margin: 0;
padding: 0;
}


.infocontact
{
margin-bottom: 10px;
}

.boxcontactgris
{
	background: url("../images/bg/transparent-bg.png") transparent;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin-left:28px;
	margin-top:10px;
	padding:8px;
	width:313px;
}


.boxcontactblanc
{
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	margin: 0;
	background-color: #FFFFFF;
	height: 90px;
}

/* Carrousel
**************************************/
#carrousel
{
	background: url("../images/bg/bg_carrousel.png") transparent top center no-repeat;
	height: 247px;
}

.carrousel
{
	background: url("../images/bg/bg_main_carrousel.png") transparent top left no-repeat;
	background-color:#b13f2d;
	height: 245px;
	border-bottom: 1px solid #8a2211;
	border-top: 1px solid #8a2211;
}


/* Main
**************************************/
#main
{

}

.main
{

	height: 300px;
}

/* Footer
**************************************/
#footer
{

}

.footer
{

	height: 300px;
}


/* Commun
**************************************/
.container
{
	width:950px;
	margin:0 auto;
}

div.block
{
	margin-bottom:0;
}

div.container
{
	margin:0 auto;
}

.hide
{
	position:absolute;
	left:-9999px;
}

ul li, ul.menu li,
.item-list ul li,
li.leaf
{
	list-style-image:none;
}



/* menu
*******************************************************************************/
#menu-firstlevel
{
	background: url("../images/menu/nav.png") transparent top left no-repeat;
	height: 43px;

}

#block-menu-primary-links
{
   zoom:1;
}

#block-menu-primary-links ul
{
   padding:0;
   margin:0;
}

#block-menu-primary-links li
{
   line-height:3;
   float:left;
   list-style-type:none;
   position:relative;
}
#block-menu-primary-links
{
   border-right:1px solid #56a5db;
}
#block-menu-primary-links li a
{
   margin: 4px 5px 0 5px;
   padding: 0 22px 0 22px;
   background-repeat:no-repeat;
   display:block;
   color:#FFF;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   font-weight:bold;
   text-shadow: #6a291f 0 -1px;
   text-transform:uppercase;
   text-decoration:none;
   background-position:0 50%;
}

#block-menu-primary-links li.first a
{
	background: url("../images/menu/home.png") no-repeat transparent 10px 3px;
	margin-left: 105px;
}

#block-menu-primary-links li.first a:hover,
#block-menu-primary-links li.first a:focus
{
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin-top: 4px;
	background: url("../images/menu/home_on.png") no-repeat transparent 10px 3px;
	background-color: #e4e4e4;

}


#block-menu-primary-links li.first a.active
{
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin-top: 4px;
	background: url("../images/menu/home_on.png") no-repeat transparent 10px 3px;
	background-color: #e4e4e4;
}

#block-menu-primary-links li a.active
{
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin-top: 4px;
	background-color: #e4e4e4;
	color:#9f3f29;
	text-shadow: none;
}

#block-menu-primary-links li.last a
{

}

#block-menu-primary-links li a:hover,
#block-menu-primary-links li a:focus
{
   -moz-border-radius: 4px 4px 0 0;
   -webkit-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
   margin-top: 4px;
   text-decoration:underline;
   background-color: #e4e4e4;
   color:#9f3f29;
   text-shadow: none;
}



#block-menu-primary-links li ul
{
   position:absolute;
   width:150px;
   left:0;
   top:3.75em;
   background-color:#5F5F5F;
   color:#FFF;
   opacity:0.9;
   padding:0.9375em 0;
   display:none;
   z-index:50;
}
.op #block-menu-primary-links li ul {
   top:3.6em;
}
#block-menu-primary-links li:hover ul,
#block-menu-primary-links li.hover ul
{
   display:block;
}
#block-menu-primary-links li li
{
   zoom:1;
   float:none;
   line-height:1.875;
}
#block-menu-primary-links li li a
{
   border:none;
   padding:0 10px 0 20px!important;
   font-weight:normal;
   text-transform:none;
}

